* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background: #F1F1F1;
}

::-webkit-scrollbar {
    display: none;
}

header {
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
    background: #212121;
}

header h1 {
	font-size: 45px;
}

row {
	width: 100%;
}

row:after {
	clear: both;
	content: "";
	display: table;
}

row .leftColumn {
	margin-top: 20px;
	width: 25%;
	float: left;
	padding-left: 20px;
}

row .rightColumn {
	margin-top: 20px;
	width: 75%;
	float: left;
	padding: 0 20px;
}

footer {
	width: 100%;
	border: 1px solid #ADADAD;
	padding: 10px;
	margin-top: 20px;
	background:#DDDDDD;
	text-align: center;
}

#contentBar {
	padding: 10px;
	color: #FFFFFF;
	background: #212121;
	border-radius: 5px;
}

#contentBar a {
	margin: 10px;
	border-radius: 5px;
	display: block;
	padding: 10px;
}

#contentBar a:hover {
	background: #F1F1F1;
	color: #212121;
}

#article {
	padding: 30px;
	border: 1px solid #ADADAD;
	border-radius: 5px;
	background: #FFFFFF;
}

#toTopButton {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 100;
	border: none;
	outline: none;
	background: #212121;
	color: #FFFFFF;
}

#toTopButton:hover {
	background: #555555;
}

h2 {
	text-align: center;
}

@media screen and (max-width: 950px) {
	body {
		text-align: center;
	}
	row .leftColumn, row .rightColumn {
		width: 100%;
	}

	row .leftColumn, row .rightColumn {
		padding: 0px 30px 0px 30px;
	}
	row .leftColumn, .card .leftContainer {
		padding-bottom: 25px;
	}
}

@media screen and (max-width: 550px) {
	row .leftColumn, row .rightColumn {
		padding: 15px;
	}
}