* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	background: #f1f1f1;
	margin: 0;
}

.header {
    background-color: #23272A;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
}

.header h1 {
	font-size: 45px;
}

.navbar {
    background: #212121;
    overflow: hidden;
}

.navbar a {
    color: #FFFFFF;
    padding: 15px 20px 15px 20px;
    text-align: center;
    text-decoration: none;
	transition: background-color 0.5s;
	transition: color 0.5s;
}

.navbar a.left {
    float: left;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
	text-decoration: none;
    background-color: #00FFFF;
    color: #000000;
}

.row {
	padding: 5px 5px 5px 5px;
	width: 100%;
}

.row:after {
	clear: both;
	content: "";
	display: table;
}

.row .leftColumn {
	float: left;
	height: 100%;
	padding: 0px 10px 0px 20px;
	width: 25%;
}

.row .rightColumn {
	float: left;
	height: 100%;
	padding: 0px 20px 0px 10px;
	width: 75%;
}

.footer {
	background: #DDDDDD;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}

.card {
	background-color: white;
	border: 1px solid #ADADAD;
	margin: 20px 0px 20px 0px;
	padding: 20px 20px 20px 20px;
    border-radius: 5px 5px 5px 5px;
	width: 100%;
}

.card:after {
	clear: both;
	content: "";
	display: table;
}

.card .leftContainer {
	float: left;
	padding-right: 20px;
	width: 25%;
}

.card .rightContainer {
	float: left;
	padding-left: 10px;
	width: 75%;
}

.socialIcon {
	color: #ADADAD;
	transition: color 0.2s;
	margin: 0 5px;
}

.socialIcon ion-icon {
	height: 30px;
	width: 30px;
}

.socialIcon:hover {
	color: #23272A;
}

button {
	background-color: #23272A;
	color: #FFFFFF;
    border: none;
	font-size: 15px;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.5s;
	transition: color 0.5s;
}

button:hover {
	background-color: #ADADAD;
    color: #FFFFFF;
}

button a {
	color: #FFFFFF;
    text-decoration: none;
}

button a:hover {
	color: #FFFFFF;
    text-decoration: none;
}

form {
	display: none;
	width: 100%;
}

form input {
	float: left;
	width: 80%;
    border: 1px solid #000000;
	border-radius: 2px;
}

form label {
	float: left;
	width: 20%;
}

img {
    border-radius: 5px 5px 5px 5px;
}

p {
	padding: 15px 15px 15px 15px;
}

h1, h2 {
	text-align: center;
}

table {
    border-collapse: collapse;
	padding: 5px 5px 5px 5px;
}

td {
    border: 1px solid #ADADAD;
    padding: 10px 10px 10px 10px;
}

tr {
	transition: background-color 0.5s;
	transition: color 0.5s;
}

tr:hover {
    background-color: #23272A;
    color: #FFFFFF;
}

a {
	transition: background-color 0.5s;
	transition: color 0.5s;
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

tr:hover a {
    color: #FFFFFF;
}

th {
    background-color: #ADADAD;
    border: 1px solid #000000;
    color: #23272A;
    padding: 20px 0 20px 0;
}

@media screen and (max-width: 950px) {
	body {
		text-align: center;
	}
	img {
		max-height: 300px;
		max-width: 300px;
	}
	.row {
		padding: 10px;
	}
	.row .leftColumn, .row .rightColumn {
		width: 100%;
	}
	.card .leftContainer, .card .rightContainer {
		width: 100%;
	}
	.row .leftColumn, .row .rightColumn {
		padding: 5px;
	}
	.card .leftContainer, .card .rightContainer {
		padding: 5px;
	}
	.row .leftColumn, .card .leftContainer {
		padding-bottom: 25px;
	}
	.card {
		padding: 10px;
	}
}

@media screen and (max-width: 745px) {
	.navbar a {
		width: 100%;
	}
}
