* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	background: #f1f1f1;
	margin: 0;
}

header {
    background-color: #23272A;
    color: #FFFFFF;
    padding: 30px;
    text-align: center;
}

header h1 {
	font-size: 45px;
}

nav {
    background: #212121;
    overflow: hidden;
}

nav a {
    color: #FFFFFF;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
}

nav a.left {
    float: left;
}

nav a.right {
    float: right;
}

nav a:hover {
	text-decoration: none;
    background-color: #00FFFF;
    color: #000000;
}

row {
	width: 100%;
}

row:after {
	clear: both;
	content: "";
	display: table;
}

row .leftColumn {
	padding-left: 20px;
	float: left;
	width: 25%;
}

row .rightColumn {
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	width: 75%;
}

footer {
	background:#DDDDDD;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
}

.card {
	background: #FFFFFF;
	border: 1px solid #ADADAD;
	margin-top: 20px;
	padding: 20px;
    border-radius: 5px;
	width: 100%;
}

.card:target {
	background: repeating-linear-gradient(45deg, #FFFFFF, #FFFFFF 10px, #F1F1F1 10px, #F1F1F1 20px);
	border: 1px solid #23272A;
}

.card:after {
	clear: both;
	content: "";
	display: table;
}

.card .leftContainer {
	float: left;
	padding-right: 20px;
	width: 25%;
}

.card .rightContainer {
	float: left;
	width: 75%;
}

.contactIcon ion-icon {
	height: 30px;
	width: 30px;
	color: #ADADAD;
	transition: color 0.2s;
	padding-top: 5px;
	margin: 0 5px;
}

.contactIcon ion-icon:hover {
	color: #23272A;
}

.icon {
	height: 30px;
	width: 30px;
	color: #ADADAD;
	margin: 0 5px;
}

.contactBox {
	padding: 5px;
	transition: background 0.5s;
}

.contactBox:target {
	background: repeating-linear-gradient(45deg, #FFFFFF, #FFFFFF 10px, #F1F1F1 10px, #F1F1F1 20px);
	border: 1px solid #DDDDDD;
	border-radius: 5px;
}

button {
	background: #F1F1F1;
	color: #000000;
	font-size: 15px;
	padding: 10px;
	border: 1px solid #ADADAD;
	border-radius: 5px;
	transition: background-color 0.5s;
	transition: color 0.5s;
}

button:hover {
	background-color: #DDDDDD;
    color: #FFFFFF;
}

button a {
	color: #FFFFFF;
    text-decoration: none;
}

button a:hover {
	color: #FFFFFF;
    text-decoration: none;
}

form {
	display: none;
	width: 100%;
}

form input {
	float: left;
	width: 80%;
    border: 1px solid #000000;
	border-radius: 2px;
}

form label {
	float: left;
	width: 20%;
}

img {
    border-radius: 5px;
}

p {
	padding: 15px;
}

h2 {
	color: #23272A;
	text-align: center;
}

table {
    border-collapse: collapse;
	padding: 5px ;
}

th {
    background-color: #ADADAD;
    border: 1px solid #000000;
    color: #23272A;
    padding: 20px 0;
}

td {
    border: 1px solid #ADADAD;
    padding: 10px;
}

tr:hover {
    background-color: #23272A;
    color: #FFFFFF;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

tr:hover a {
    color: #FFFFFF;
}



@media screen and (max-width: 950px) {
	body {
		text-align: center;
	}
	img {
		max-height: 300px;
		max-width: 300px;
	}
	row .leftColumn, row .rightColumn {
		width: 100%;
	}
	.card .leftContainer, .card .rightContainer {
		width: 100%;
	}
	row .leftColumn, row .rightColumn {
		padding: 0px 30px 0px 30px;
	}
	.card .leftContainer, .card .rightContainer {
		padding: 0px 30px 0px 30px;
	}
	row .leftColumn, .card .leftContainer {
		padding-bottom: 25px;
	}
	.card {
		padding: 10px;
	}
}

@media screen and (max-width: 745px) {
	nav a {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	row .leftColumn, row .rightColumn {
		padding: 5px;
	}
	.card .leftContainer, .card .rightContainer {
		padding: 5px;
	}
}