body {
    font-family: sans-serif;
    margin: 0;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.05);
    -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
    text-align: center;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #00FFFF;
    text-decoration: underline;
}

table{
    width: 88%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ADADAD;
    padding: 10 10 10 10;
}

tr:hover {
    color: #FFFFFF;
    background-color: #23272A;
}

tr:hover a {
    color: #FFFFFF;
}

th {
    border: 1px solid #000000;
    background-color: #ADADAD;
    color: #23272A;
    padding: 20 0 20 0;
}

img {
    border-radius: 10px 10px 10px 10px;
}

p {
    padding: 15px 15px 15px 15px;
}

.header {
    background-color: #23272A;
    color: #FFFFFF;
    padding: 45 0 45 0;
    text-align: center;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    background: #212121;
    overflow: hidden;
}

.navbar a {
    color: #FFFFFF;
    padding: 15 20 15 20;
    text-align: left;
    text-decoration: none;
}

.navbar a.left {
    float: left;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #00FFFF;
    color: #000000;
}

.main {
    -ms-flex: 70%;
    flex: 60%;
    padding: 50 50 50 50;
}

.container {
    padding: 20px 20px 20px 20px;
}

.container_left {
    float: left;
}

.container_right {
    float: right;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}