@mixin theme {
    h1 {
        position: relative;
        width: 100%;
        margin: 0 0 40px 0;
        padding: 0;
        padding-bottom: 5px;

        font-size: 30px;
        font-weight: 700;
        &:after {
            content: "";
            position: absolute;

            left: 0;
            bottom: 0;
            width: 100px;
            height: 2px;

            background: #e8e8e8;
        }
        label {
            position: absolute;

            top: -30px;
            left: -40px;

            color: #e8e8e820;

            font-size: 90px;
        }
    }

    table {
        text-align: center;
        box-shadow: 0 0 20px rgb(0 0 0 / 30%);
        th {
            padding: 10px;
            border: 1px solid transparent;

            background: #111111;
        }
        td {
            padding: 25px 15px;
            border: 1px solid #111111;
        }
        tr {
            background: #343434;
            transition: all 0.3s;
            &:first-child:hover {
                color: inherit;
                background: inherit;
            }
            &:hover,
            &:focus {
                color: #000000;
                background: #e8e8e8;
            }
            td:last-child {
                text-align: left;
            }
        }
    }
}

.main {
    @include theme;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    &:first-of-type {
        height: calc(100vh - 90px); /* Countering the body padding */
    }
    &:nth-child(odd) .inner {
        flex-direction: row-reverse !important;
    }

    .inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        section {
            padding: 20px 30px;
            &:only-child {
                width: 100% !important;
                margin: 0 !important;
            }
            &:first-child {
                width: 30%;
                margin-right: auto;
            }
            &:last-child {
                width: 70%;
                margin-left: auto;
            }
        }
    }
}
