/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Variables */
/* Element specific */
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  cursor: pointer !important;
}

a[href^="http"]:empty::before {
  content: attr(href);
}

a:hover {
  color: inherit;
}

ul {
  margin: 0;
}

label {
  cursor: pointer !important;
}

/* Main page componants
	- html
	- body
	- header
	- nav
	- footer */
html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: 'Poppins', 'Arial', 'sans-serif';
  background: #212121;
}

header {
  width: 100%;
  height: 200px;
  color: #FFFFFF;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #343434;
  background-position: center;
}

header .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.3);
}

header .content h1 {
  margin: 5px 10px;
  padding: 20px 40px;
  font-size: 45px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  background: rgba(52, 52, 52, 0.57);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

header .content h1 p {
  margin: 0;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

nav {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #343434;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #ADADAD;
  background: #343434;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

footer p {
  margin: 0;
  padding: 10px 0;
  font-size: 10px;
  line-height: 10px;
  font-weight: 500;
}

/* Components */
.profile-pic {
  margin: 20px 0;
  text-align: center;
}

.profile-pic img {
  width: 100%;
  max-width: 330px;
  border-radius: 5px;
}

/* Themed componants
	- drk: Dark
	- lgt: Light
	- trp: Transparent */
.drk-button {
  color: #FFFFFF;
  background: #212121;
}

.drk-button:hover {
  color: #212121;
  background: #FFFFFF;
}

.lgt-button {
  color: #212121;
  background: #FFFFFF;
}

.lgt-button:hover {
  color: #FFFFFF;
  background: transparent;
}

.trp-button {
  color: #FFFFFF;
  background: transparent;
}

.trp-button:hover {
  color: #212121;
  background: #FFFFFF;
}

.drk-button, .lgt-button, .trp-button {
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.drk-button:hover, .lgt-button:hover, .trp-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.lgt-card {
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  color: #FFFFFF;
  background: #343434;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.lgt-card h2 {
  margin: 5px 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.lgt-card p {
  margin: 5px 0;
  font-weight: 400;
  text-align: center;
}

.lgt-card p[text-align^="left"] {
  text-align: left !important;
}

.lgt-card p[text-align^="center"] {
  text-align: center !important;
}

.lgt-card p[text-align^="right"] {
  text-align: right !important;
}

.lgt-table {
  margin: 5px 0;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  border-collapse: collapse;
  background: #212121;
}

.lgt-table[center-col^="1"] td:nth-child(1) {
  text-align: center;
}

.lgt-table[center-col^="2"] td:nth-child(1), .lgt-table[center-col^="2"] td:nth-child(2) {
  text-align: center;
}

.lgt-table[center-col^="3"] td:nth-child(1), .lgt-table[center-col^="3"] td:nth-child(2), .lgt-table[center-col^="3"] td:nth-child(3) {
  text-align: center;
}

.lgt-table[center-col^="4"] td:nth-child(1), .lgt-table[center-col^="4"] td:nth-child(2), .lgt-table[center-col^="4"] td:nth-child(3), .lgt-table[center-col^="4"] td:nth-child(4) {
  text-align: center;
}

.lgt-table th {
  padding: 10px;
  border: 1px solid #111111;
  text-align: center;
  color: #FFFFFF;
  background: #111111;
}

.lgt-table td {
  padding: 25px 15px;
  border: 1px solid #111111;
  position: relative;
}

.lgt-table td:empty::before {
  content: "-";
}

.lgt-table td label {
  padding: 0 5px;
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 11px;
  border-radius: 3px;
  color: #000000;
  background: #40f100;
}

.lgt-table td label[st^="lang"] {
  background: #FFC300;
}

.lgt-table td label[st^="lang"]::after {
  content: "lang";
}

.lgt-table td label[st^="skill"] {
  background: #00ffdd;
}

.lgt-table td label[st^="skill"]::after {
  content: "skill";
}

.lgt-table td label[st^="fram"] {
  background: #44ff00;
}

.lgt-table td label[st^="fram"]::after {
  content: "framework";
}

.lgt-table td .lgt-table {
  margin: -10px auto;
  max-width: 600px;
}

.lgt-table td .lgt-table td {
  padding: 10px;
}

.lgt-table tr {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lgt-table tr:hover {
  color: #000000;
  background: #e8e8e8;
}

.lgt-socials-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lgt-socials-bar a {
  width: 300px;
  margin: 5px auto;
  padding: 5px 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  text-decoration: none;
  color: #FFFFFF;
  background: #212121;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lgt-socials-bar a:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.lgt-socials-bar a i {
  margin-right: 10px;
}

.lgt-socials-bar a label {
  width: 100%;
  text-align: center;
}

/* Positioning */
.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.center {
  text-align: center;
}

/* Utility */
[dbg] {
  border: 1px solid red;
}

[hidden] {
  display: none !important;
}

.no-hover-effect {
  color: #FFFFFF !important;
  background-color: #212121 !important;
}

/* Media queries */
@media screen and (max-width: 1024px) {
  nav {
    padding: 5px;
  }
  nav .left {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .left a {
    padding: 5px 10px;
  }
  nav .right {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header .content h1 {
    font-size: 30px;
  }
  header .content p {
    font-size: 12px;
  }
  header .content p i {
    font-size: 10px;
  }
  .lgt-card h2 {
    font-size: 18px;
  }
  .lgt-card p {
    font-size: 13px;
  }
  .lgt-socials-bar a {
    font-size: 13px;
  }
  .lgt-table {
    font-size: 10px;
  }
  .lgt-table td {
    padding: 20px 5px;
  }
  .lgt-table td label {
    font-size: 7px;
    border-radius: 2px;
  }
  footer p {
    font-size: 8px;
  }
}

@media screen and (max-width: 374px) {
  body {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */