/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Main structure */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0 auto;
  font-family: "Poppins", Arial, sans-serif;
  max-width: 1680px;
  background: #F1F1F1;
}

header {
  padding: 30px;
  text-align: center;
  color: #FFFFFF;
  background: #212121;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header p {
  margin: 15px 0;
  font-size: 14px;
}

header h1 {
  font-size: 45px;
  text-shadow: 0 0 20px rgba(255, 225, 255, 0.5);
}

nav {
  margin: 15px 20px;
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 5px;
  color: #FFFFFF;
  background: #212121;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav a {
  margin: 5px;
  display: block;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  text-shadow: 0 0 5px #ADADAD;
}

nav a:hover {
  text-decoration: none;
  color: #212121;
  background: #F1F1F1;
  text-shadow: none;
}

.nav-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background: #212121;
  overflow: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: left;
  margin: 0 !important;
  border-radius: 0;
  font-size: 10px;
}

.nav-menu a {
  float: left !important;
  text-align: left !important;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-shadow: none;
}

.nav-menu a:hover {
  background: none;
  color: #FFFFFF;
}

#menu-open-btn {
  margin: 5px;
  display: none;
  border: none;
  background: transparent;
  width: 30px;
  height: 20px;
}

#menu-open-btn:hover {
  background: none;
  color: none;
}

#menu-open-btn div {
  width: 100%;
  height: 3px;
  background: #FFFFFF;
  margin-top: 4px;
}

#menu-close-btn {
  border: none;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  display: none;
  color: #FFFFFF;
  background: transparent;
}

.row {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

footer {
  color: #212121;
  background: #DDDDDD;
  border: 1px solid #ADADAD;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 10px;
  line-height: 10px;
  font-weight: 500;
  position: relative;
  bottom: 0;
}

footer p {
  margin: 0;
  padding: 0;
}

/* Content containers */
.card {
  width: 100%;
  border: 1px solid #ADADAD;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #212121;
  background: #FFFFFF;
  text-align: center;
}

.card:after {
  clear: both;
  content: "";
  display: table;
}

.card:target {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-color: rgba(33, 33, 33, 0.5);
}

.card table {
  padding: 5px;
  width: 100%;
  border-collapse: collapse;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card table th {
  padding: 20px;
  color: #212121;
  background: #ADADAD;
  border: 1px solid #212121;
}

.card table td {
  padding: 10px;
  border: 1px solid #ADADAD;
}

.card table tr:hover {
  color: #FFFFFF;
  background: #212121;
}

.card table tr:hover a {
  text-decoration: underline;
}

.card table .mini-table {
  color: #212121 !important;
  font-size: 11px;
  margin: 10px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  max-width: 400px;
  text-align: center;
}

.card table .mini-table th {
  padding: 7px;
}

.card table .mini-table td {
  padding: 5px;
}

.card table .mini-table tr:hover {
  color: #212121;
  background: #FFFFFF;
}

.theme-button {
  border: 1px solid #ADADAD;
  padding: 10px 15px;
  font-size: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
  background: #F1F1F1;
  cursor: pointer !important;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", Arial, sans-serif;
}

.theme-button:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Element specific */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a[href^="http"]:empty::before {
  content: attr(href);
}

img {
  width: 100%;
  height: 100%;
}

/* ID Specific */
#contact-info table {
  max-width: 300px;
}

#contact-info td {
  font-size: 14px;
  padding: 5px;
}

#contact-info tr {
  border-left: 5px solid #ADADAD;
}

/* Utilities */
[icon] {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

[hidden] {
  display: none;
}

[no-shadow] {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

[profile-picture] {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

[no-hover-effect]:hover {
  color: #212121 !important;
  background-color: #FFFFFF !important;
}

/* Positioning */
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: auto !important;
}

.left-column {
  width: 25%;
  float: left;
}

.right-column {
  width: 75%;
  float: right;
  padding-left: 20px;
}

/* Media queries */
@media (max-width: 1024px) {
  .card {
    font-size: 14px;
  }
  #contact-info td {
    font-size: 11px;
    padding: 5px;
  }
}

@media (max-width: 992px) {
  img {
    max-width: 300px;
    max-height: 300px;
  }
  .card .right-column {
    padding-top: 20px;
  }
  .left-column, .right-column {
    width: 100%;
  }
  .left-column, .right-column {
    padding: 0;
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  #menu-open-btn {
    display: block;
  }
}

@media (max-width: 550px) {
  table {
    font-size: 14px;
  }
  table .mini-table {
    font-size: 10px;
  }
}

@media (max-width: 414px) {
  .card table {
    font-size: 11px;
  }
  .card table td {
    padding: 5px;
  }
  .card table .mini-table {
    display: none;
  }
}

@media (max-width: 375px) {
  header h1 {
    font-size: 20px;
  }
  header p {
    font-size: 10px;
  }
  .card p {
    font-size: 10px;
  }
  .card h2 {
    font-size: 15px;
  }
  .theme-button {
    height: 50px;
    width: 70px;
  }
  .theme-button svg {
    width: 40px;
  }
  .card table {
    font-size: 8px;
  }
  .card table td {
    padding: 5px;
  }
  footer {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */