* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px 60px;

    color: #e8e8e8;
    background: #212121;

    user-select: none;
    font-family: "Poppins", "Helvetica Neue", "sans-serif";
}

header {
    display: none;
    overflow: hidden;

    margin: 10px 20px;
    padding: 10px;
    border-radius: 5px;

    text-align: center;
    background: #343434;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);

    h1 {
        font-size: 40px;
        font-weight: 700;
    }
}

@media screen and (max-width: 875px) {
    body {
        padding: 10px;
    }
    header {
        display: block;
    }
}

footer {
    padding: 5px;
    border-radius: 5px;

    background: #343434;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);

    text-align: center;
    p {
        margin: 0;
        font-size: 11px;
        font-weight: 500;
    }
}

a {
    color: inherit;
}

button {
    font-family: "Poppins", "Helvetica Neue", "sans-serif";
}

.row {
    margin: 0;

    & > * {
        padding: 0 !important;
    }
}

.image-wrapper {
    text-align: center;
    box-sizing: content-box;
}

.image-wrapper img {
    border-radius: 5px;
}
